@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Disable focus outline for recharts */
.recharts-wrapper:focus,
.recharts-wrapper:focus-visible {
  outline: none !important;
}

.recharts-wrapper svg,
.recharts-wrapper svg:focus-visible {
  outline: none !important;
}

svg {
  outline: none !important;
}

.end-gradient {
  position: relative;
  z-index: 10;
}
.end-gradient::before {
  content: '';
  position: absolute;
  bottom: -30px;
  z-index: 0;
  height: 0px;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(11, 11, 11, 0.9) 70%,
    rgba(0, 0, 0, 0) 100%
  );
}

.end-gradient.scrolled::before {
  bottom: -40px;
  height: 40px;
}

.aicard-border {
  background: linear-gradient(
    135deg,
    #a6162c,
    #a51364,
    #aa20c6,
    #4e13c6,
    #1319c6,
    rgb(19, 164, 198),
    #13c686,
    #5ac613,
    #c6d213,
    #c67f13,
    #c64213,
    #c61616
  );
}

.glow-text {
  text-shadow: 0 0 6px rgba(200, 200, 255, 0.35);
  /* 0 0 12px rgba(255, 255, 255, 0.25); */
}
