:root {
  --bg: #fff;
  --fg: #111;
}
html,
body,
#root {
  height: 100%;
}
body {
  background: var(--bg);
  color: var(--fg);
  font-family: system-ui, -apple-system, Segoe UI, Roboto;
}

/* basic container */
main {
  padding: 24px;
}
